body {
  margin: 0;
  font-family: Verdana;
  background: #eef7ff;
}

header {
  text-align: center;
  padding: 30px;
  background: #0077cc;
  color: white;
}

.details {
  background: white;
  margin: 20px;
  padding: 20px;
  border-left: 5px solid #0077cc;
  border-radius: 6px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  width: 180px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  background: #0077cc;
  color: white;
  padding: 10px;
}
