body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f7ff;
}
header {
  background: #3949ab;
  padding: 20px;
  text-align: center;
  color: white;
}
.wrap {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
