.box{
    border: 2px solid black;
    width: 100px;  
    height: 100px;
    color: white;
}


box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.box{
    background-color:#4CAF50;
    color:#4CAF50 white;
    border: 2px dashed #999;
    padding: 10px;
    margin: 5px;
  }

.box1{background-color: #4CAF50;}  
  .box2{background-color: #2196F3;}
  .box3{background-color: #f44336;}
  .box4{background-color: #ff9800;}
  .box5{background-color: #9c27b0;}