body {
  margin: 0;
  background: #f6f9ff;
  font-family: Arial;
}
header {
  background: #283593;
  color: white;
  text-align: center;
  padding: 30px;
}
.section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-left: 5px solid #283593;
  border-radius: 5px;
}
