.body{
   font-family: Arial, sans-serif;
   background-color:#f0f0f0;
    margin:15px;
    text-align:center;
}
/* Heading style */
<h1>color: #333;
margin-bottom:20px;
</h1>

/*Product Box Styling */

.product-box{
    width=250px;
    styling: solid;}