body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    background: white

}
h1 {
    text-align: center;
    padding: 20px;  
    color: darkblue;
}

.product-grid {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
    /* auto-fit= auto adjust columns
    minmax(250px, 1fr)= minimum 250px, maximum 1 fraction of available space */

    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;

}
.product-card {
    background: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product-card:hover{
    transform: scale(1.05);
    /* Transform to scale up the card on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    /* adding hover effect */

}

.product-card img {
    width: 100%;
    /* Image covers full wdth of card */
    height: 200px;       /* Fixed height for uniformity */
    object-fit: cover;   /* Ensures image covers area without distortion */
    border-radius: 9px;  /* Rounded corners for image */
}

.product-card h3 {
    margin: 15px 0 10px ;
    /* Space around title */
    font-size: 20px;
    color: #333;
}
.product-card p {
    color: #666;
    font-size: 16px;
}

.price {
    font-size: 18px;
    color: green;
    font-weight: bold;
    margin: 10px 0;

}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;   /* Removes default Hyperlink underline */
    border-radius: 5px;
    transition: background 0.3s ease;

}
.btn:hover {
    background: navy;
}


/* Mobile View */
@media (max-width: 600px) {
    .product-card image {
        height:150px
        grid-template-column: 1fr;
        /* Single column layout for small screens */
    }
}



/* Tablet View */
@media (min-width: 601px) and (max-width: 900px)
and (max-Width: 900px) {
    .product-card image {
        height: 175px;
    
    }
    .product-card h3 {
        font-size: 18px;

    }
} 
