<style>
.wrapper {
    border: 2px solid red;
    border radius : 10px;
    background-color: lightgrey;
}

.wrapper >div {
    border: 2px solid blue;
    border radius: 5px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}


