body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#e5eaf1;
    font-family: Arial;
}

.box {
    background:white;
    padding:30px;
    width:260px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width:100%;
    padding:8px;
    margin:10px 0;
}
