body {
  margin: 0;
  font-family: Arial;
  background: #f7f3ff;
}

header {
  background: #6b46c1;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

section {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.albums {
  display: flex;
  gap: 10px;
}

.box {
  background: #e9d8fd;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  flex: 1;
}

footer {
  background: #6b46c1;
  color: white;
  text-align: center;
  padding: 10px;
}
