/* General styles for navigation menu */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Block example */
.block-menu a {
    display:block;
    background-color: #f4f4f4;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;

}

