/* General styles for navigation menu */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Block example */
.block-menu a {
    display:block;
    background-color: #f4f4f4;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;

}

/* Inline block example */
.inline-block-menu a {
    display: inline;
    background-color: #af0970;
    color: white;
    padding: 10px 20px;
    margin:  5px;
    text-decoration: none;
}
/*Incline block example*/
.incline-block-menu a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
/*Float example*/
.float-menu a {
    float:left;
    background-color: #caae0d;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}