body {
    font-family: Arial;
    background:#eef2f6;
    padding:20px;
    text-align:center;
}

h1 {
    margin-bottom:30px;
}

.card {
    display:inline-block;
    background:white;
    width:220px;
    padding:20px;
    margin:10px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button {
    padding:8px 55px;
    border:none;
    border-radius:25px;
    background:#111;
    color:white;
    cursor:pointer;
}

button:hover {
    background:#333;
}
