body {
    font-family: Arial;
    background:#135eaa;
}

.resume {
    width:70%;
    background:#32f60b;
    margin:40px auto;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(190, 7, 7, 0.821);
}

h1 {
    margin-bottom:5px;
}

h3 {
    margin-top:0;
    color:#444;
    font-weight:normal;
}
