






/* Button styling */
button {
    background-color: purple;
    color: rgb(179, 130, 58);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkmagenta;
}