body {
    font-family: "georgia", serif';
    background-color:;
    margin:  20px;
}
.container {
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 40px;
    margin: 20px;
}

.card {
    background-color:#ccc;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0,0,0.5);
    border: 2px solid #007bff;

}

.circle {
    background-color:aquamarine;
    color:#007bff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 15px auto;
}
h3 {
    margin: 10px 0;
    color:#007bff;
}
p {
    margin: 5px 0;
    font-size: 16px;
}
.button {
    background-color:#007bff;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}
